:root {
	--roboto-condensed: "Roboto Condensed", sans-serif;
	
}

body {
	font-family: var(--roboto-condensed);
	color:white;
	background-color: rgb(26, 24, 24);
	ul {
		li{
				list-style: none;
				line-height: 1.5;
	}
}
	p {
		list-style: none;
		line-height: 1.5;
		margin-left: 3%;
	}
	a {
				margin-left: 3%;
				line-height: 1.9;
	}
}

@media (min-width: 310px) and (max-width: 720px) {
	li {
		margin-right: 4%;
	}
}

#nome {
	font-weight: 900;
	line-height: 2.2;
}

@media (min-width: 310px) and (max-width: 720px) {
	#nome {
		font-size: 35px;
	}
}

#linkbaixar {
	margin-left: 70% ;
	font-family: var(--roboto-condensed);
		font-weight: 900;
}

@media (min-width: 310px) and (max-width: 720px) {
	#linkbaixar {
		margin-left: 40%;
	}
}