:root {
	--roboto-condensed: "Roboto Condensed", sans-serif;
	text-align: left;
}

body {
	font-family: var(--roboto-condensed);
}

li {
	list-style: none;
}

p {
	font-size: 16px;
	line-height: 1.5;
}