:root {
	--roboto-condensed: "Roboto Condensed", sans-serif;
	
}

body {
	font-family: var(--roboto-condensed);
	li {
				list-style: none;
				line-height: 1.5;
	}
	p {
		list-style: none;
		line-height: 1.5;
	}
}
